<html>

<head>
    <title>{{tv_show.name}} ({{tv_show.release_year}})</title>
</head>

<body>
    <h1>{{tv_show.name}} ({{tv_show.release_year}})</h1>
    <table id="id_tv_show_info_table">
        <tr>
            <td>Name:</td>
            <td>{{tv_show.name}}</td>
        </tr>
        <tr>
            <td>Release year:</td>
            <td>{{tv_show.release_year}}</td>
        <tr>
            <td>theTVDB id:</td>
            <td>{{tv_show.tvdb_id}}</td>
        </tr>
    </table>
</body>

</html>