<!DOCTYPE html>
<html>

<head>
    <title>TV Aficionado</title>
</head>

<body>
    <h1>TV Series</h1>
    <table id="id_tvseries_table">
        <tr>
            <td>TV Series</td>
            <td>Last Episode Number</td>
            <td>Last Episode Air Date</td>
            <td>Next Episode Number</td>
            <td>Next Episode Air Date</td>
        </tr>
        {% for tv_series in tv_series %}
        <tr>
            <td><a href="{{tv_series.id}}/">{{tv_series.name}} ({{tv_series.release_year}})</a></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        {% endfor %}
    </table>
    <form method="POST" action="all/update">
        <input type="submit" id="id_update_all" value="Update All">
        {% csrf_token %}
    </form>
    <a id="id_add_tv_series" href="add/">Add new TV Series</a>
</body>

</html>