<html>

<head>
    <title>{{tv_series.name}} ({{tv_series.release_year}})</title>
</head>

<body>
    <h1>{{tv_series.name}} ({{tv_series.release_year}})</h1>
    <table id="id_tv_series_info_table">
        <tr>
            <td>ID:</td>
            <td id="id_tvseries_id">{{tv_series.id}}</td>
        </tr>
        <tr>
            <td>Name:</td>
            <td>{{tv_series.name}}</td>
        </tr>
        <tr>
            <td>Release year:</td>
            <td>{{tv_series.release_year}}</td>
        <tr>
            <td>theTVDB id:</td>
            <td>{{tv_series.tvdb_id}}</td>
        </tr>
    </table>
    <a id="id_link_to_home_page" href="../">Back to Home Page</a>
</body>

</html>